<!DOCTYPE html>
<html lang="en">

<head>
	<title>Mobile Analytics</title>
	<meta charset="utf-8" >
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'webapp/css/newstyle.css' %}" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'webapp/css/reset.css' %}"  type="text/css"/> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'webapp/css/style1.css' %}"  type="text/css"/> <!-- Resource style -->
	<script src="{% static 'webapp/js/modernizr.js' %}"></script> <!-- Modernizr -->
</head>
<body class="body" style="background-color:#f6f6f6">
	
<section class="cd-intro">
		<nav class="navbar navbar-inverse">
				<div class="container-fluid">
				  <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand" href="#">Mobile Analytics</a>
				  </div>
				  <div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
					 
					  <li><a href="{%url 'mobileview'%}">Home</a></li>
					  <li><a href="#" >About</a></li>
					  {% if  user.is_authenticated %}
					  <li><p id="username">{{ user.get_username }}</p></li>
					  <li><a href="{% url 'logout'%}">Logout</a></li>   
					  {% else %}
					  <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
					  {% endif %}  
					</ul>
					<!--<ul class="nav navbar-nav navbar-right">
					  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>-->
				  </div>
				</div>
			  </nav>
				
		
		
</section> <!-- .cd-intro -->

<div class="div-products-comparison-table container">
<div class="row">
<div class="col-xl-8  col-lg-8 col-md-8 col-xs-8  col-sm-8 col-xxs-8">
	<section class="cd-products-comparison-table">
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-4  col-lg-4 col-md-4 col-xs-4  col-sm-4 col-xxs-4 ">
					<h2>Compare Models</h2>
				</div>
				
				<div class="col-xl-4  col-lg-4 col-md-4 col-xs-4  col-sm-4 col-xxs-4" >
						
						<button class="btn btn-success" onclick="showScore(this)" >Show Score </button>
				</div>
				
				<div class="col-xl-4  col-lg-4 col-md-4 col-xs-4  col-sm-4 col-xxs-4 " >
					<div class="actions">
						<a href="#0" class="reset">Reset</a>
						<a href="#0" class="filter">Filter</a>
					</div>
				</div>
			</div>
		</div>


	</header>
	
		<div class="cd-products-table">
			<div class="features">
				<div class="top-info">Models</div>
				<ul class="cd-features-list">
				
					<li>Price</li>
					<li>Resolution</li>
					<li>Display Size</li>
					<li>Color</li>
					<li>OS</li>
					<li>Cpu</li>
					
				</ul>
			</div> <!-- .features -->
			
			<div class="cd-products-wrapper">
				
				<ul class="cd-products-columns" id="myul">
				
				{%for m in mobiles%}
					<li class="product" id="{{forloop.counter}}">
						<div class="top-info">
							<div class="check"></div>
						<img src="{% static m.imagepath1 %}" alt="product image">
							<!--<h3>Score:<span id=score-{{forloop.counter}}></span></h3>-->
							

						</div> <!-- .top-info -->
						<ul class="cd-features-list">
						    <li id="price-{{m.id}}">
							<div id="price-{{ forloop.counter }}">{{m.price}}</div>
							<div class="slidecontainer">
								<input type="range" id="price-{{ forloop.counter }}" min="1" max="10" step="1"  oninput="showVal(this)">
								<span id="Boxprice-{{ forloop.counter }}"></span><span>/10</span>
							</div>
							</li>
							<li id="resolution-{{m.id}}">
								<div id="resolution-{{forloop.counter}}">{{m.Resolution}}</div>
								<div class="slidecontainer">
									<input type="range" id="resolution-{{ forloop.counter }}" min="1" max="10" step="1"   oninput="showVal(this)">
									<span id="Boxresolution-{{ forloop.counter }}"></span><span>/10</span>
								</div>
							</li>
							<li id="size-{{m.id}}">
								<div id="size-{{forloop.counter}}">{{m.Size}}"</div>
								<div class="slidecontainer">
									<input type="range" id="size-{{ forloop.counter }}" min="1" max="10" step="1"  oninput="showVal(this)">
									<span id="Boxsize-{{ forloop.counter }}"></span><span>/10</span>
								</div>
							</li>
							<li id="color-{{m.id}}">
									<div id="color-{{forloop.counter}}">{{m.Colors}}</div>
									<div class="slidecontainer">
										<input type="range" id="color-{{ forloop.counter }}" min="1" max="10" step="1" oninput="showVal(this)">
										<span id="Boxcolor-{{ forloop.counter }}"></span><span>/10</span>
									</div>
							</li>
							<li id="os-{{m.id}}">
									<div id="os-{{forloop.counter}}">{{m.OS}}</div>
									<div class="slidecontainer">
										<input type="range" id="os-{{ forloop.counter }}" min="1" max="10" step="1"  oninput="showVal(this)">
										<span id="Boxos-{{ forloop.counter }}"></span><span>/10</span>
									</div>
							</li>
							<li id="cpu-{{m.id}}">
									<div id="cpu-{{forloop.counter}}">{{m.Cpu}}</div>
									<div class="slidecontainer">
										<input type="range" id="cpu-{{ forloop.counter }}" min="1" max="10" step="1" oninput="showVal(this)">
										<span id="Boxcpu-{{ forloop.counter }}"></span><span>/10</span>
									</div>
							</li>
						</ul>
					</li> <!-- .product -->
				
					{% endfor %}
					
				</ul> <!-- .cd-products-columns -->
			</div> <!-- .cd-products-wrapper -->
			<ul class="cd-table-navigation">
				<li><a href="#0" class="prev inactive">Prev</a></li>
				<li><a href="#0" class="next">Next</a></li>
			</ul>
		</div> <!-- .cd-products-table -->
	</section> <!-- .cd-products-comparison-table-->
	</div>
	<div class="col-sm-4 col-xl-4  col-lg-4 col-md-4 col-xs-4  col-sm-4 col-xxs-4 col-md-4" id="highchart">
			
	</div>
</div>
</div>




<script src="{%static 'webapp/js/jquery-2.1.4.js'%}"></script>
<script src="{%static 'webapp/js/main.js'%}"></script> <!-- Resource jQuery -->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>


<script>
const listItems = document.querySelectorAll('.cd-products-columns li');
var cl3=$('.cd-products-columns ul li').length;
var models = [];
var modelcol1=[];
var modelcol2=[];
var modelcol3=[];
var count=0;
var mobile_feat="";
var mobile_id="";
var featprior="";
var sum1=0;
var sum2=0;
var sum3=0;

$(document).ready(function () {
	
	$('#highchart').append("<div id='container'style='min-width: 210px; height: 240px; margin: 0 auto'></div>");
	highchartShow();
});




models.push({
            mid:"1",
			mfeat:"",
			featprior:"0",
			userid:"1",
			elementid:"",
			columnId:"",

});
modelcol1.push({
            mid:"1",
			mfeat:"price",
			featprior:"0",
			userid:"1",
			elementid:"1",
			columnId:"1",

});
modelcol2.push({
            mid:"1",
			mfeat:"price",
			featprior:"0",
			userid:"1",
			elementid:"1",
			columnId:"1",

});
modelcol3.push({
            mid:"1",
			mfeat:"price",
			featprior:"0",
			userid:"1",
			elementid:"1",
			columnId:"1",

});
function showVal(element){
	
	var liId= element.parentElement.parentElement.id;
    var columnid=element.parentElement.parentElement.parentElement.parentElement.id;
	console.log("Start-  coloumn id ",columnid);
	var spstrLi=liId.split("-");
	//console.log(spstr[0]); // mobile  feature
	//console.log(spstr[1]); // mobile id
	mobile_feat=spstrLi[0];
	mobile_id=spstrLi[1];
	//console.log("elementid",element.id);
	var spstr1=element.id.split("-");
	
	var elemfeat=spstr1[0];
	console.log("Elemfeat",elemfeat);
	var elemid=spstr1[1];
	console.log("Elementid",elemid);

	//console.log(listItems.length)
	//console.log("valBox-"+element.id);	
	document.getElementById("Box"+element.id).innerHTML=element.value;
	var flag=false;
	
		for (var index in models) {
				console.log("index-outer",index);
			   
			for (var index in models){
				console.log("modelLength",models.length);	
		        console.log("model[index]id",models[index].elementid); 
			    console.log("model[index]feat",models[index].mfeat);
				if ((models[index].elementid === elemid || models[index].elementid === "" ) && (models[index].mfeat===elemfeat || models[index].mfeat==="" )){
				console.log("index-inner",index);
				
				models[index].featprior=element.value;
				models[index].elementid=elemid;
				models[index].mid=mobile_id;
				models[index].columnId=columnid;
				models[index].mfeat=elemfeat;
				flag=true;
				break; //Stop this loop, we found it!
				}
				else{
					continue;
				}
			}
			

			if(flag==false){
				
				console.log("in else");
				featprior=element.value;
					models.push({
						mid:mobile_id,
						mfeat:mobile_feat,
						featprior:featprior,
						userid:"1",
						elementid:elemid,
						columnId:columnid,
					});
					
				break;
			}
			else {
				flag=true;
				break;
			}
        }
	showScore();
	
}

function showScore(){
	var arr=[];
	console.log(models);
		for(var index in models){
			console.log(index);
			if(models[index].columnId==="1"){
						//console.log("mid1",models[index].columnId);  
						modelcol1.push(models[index]);
				}
			else if(models[index].columnId==="2"){
						//console.log("mid1",models[index].columnId);  
						modelcol2.push(models[index]);
				}
			else if(models[index].columnId==="3"){
						//console.log("mid1",models[index].columnId);  
						modelcol3.push(models[index]);
				}
			else {
				console.log("do nothing");
			}
		}	
		console.log("col1",modelcol1.length);
		console.log("col2",modelcol2.length);
		console.log("col3",modelcol3.length);
	   	if(modelcol1.length!==0){
			sum1=0;
			for (var i=0;i<modelcol1.length;i++){
				var mul=modelcol1[i].featprior*10;
				var div=mul/10;
				sum1=sum1+div;
			}
			modelcol1=[];
		//	document.getElementById("score-1").innerHTML=sum1;
			console.log("sum1",sum1);
		}
		if(modelcol2.length!==0){
			 sum2=0;
			for (var i=0;i<modelcol2.length;i++){
			var mul=modelcol2[i].featprior*10;
			var div=mul/10;
			sum2=sum2+div;
		    }
		modelcol2=[];
		//document.getElementById("score-2").innerHTML=sum2;
		console.log("sum2",sum2);
	
		}
		if(modelcol3.length!==0){
			 sum3=0;
			for (var i=0;i<modelcol3.length;i++){
			var mul=modelcol3[i].featprior*10;
			var div=mul/10;
			sum3=sum3+div;
			
	     	}
		modelcol3=[];
		//document.getElementById("score-3").innerHTML=sum3;
		console.log("sum3",sum3);
		}
		
		highchartShow();



	// $.ajax({
    //                 type: 'POST',
    //                 dataType: "json",
                   
    //                 'data': {
    //                 'd': JSON.stringify(models),
    //                 'csrfmiddlewaretoken': '{{ csrf_token }}',
    //                 },
    //                 url: "{% url 'showscore' %}",
    //                 success: function(response){
    //                     console.log(response);
                    
	// 				}
                    
    //                 });
}
	function highchartShow(){
	Highcharts.chart('container', {
				chart: {
					type: 'column'
				},
				title: {
					text: 'Comparion of mobile phones through chart'
				},
				subtitle: {
					text: ''
				},
				xAxis: {
					type: 'category'
				},
				yAxis: {
					title: {
						text: 'Total Score'
					}

				},
				legend: {
					enabled: false
				},
				plotOptions: {
					series: {
						borderWidth: 0,
						dataLabels: {
							enabled: true,
							format: '{point.y:.1f}'
						}
					}
				},

				tooltip: {
					headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
					pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
				},

				"series": [
					{
						"name": "Mobile Phones",
						"colorByPoint": true,
						"data": [
							{
								"name": "model1",
								"y": sum1,
							
							},
							{
								"name": "model2",
								"y": sum2,
							
							},
							{
								"name": "model3",
								"y": sum3,
								
							},
						
						]
					}
				],
				
				
			});
}

</script>
</body>

</html>
